In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
air = pd.read_csv("./data/AirPassengers.csv",header=None)
air.columns = ["Date","Passengers"]
air.head()

      Date  Passengers
0  1949-01         112
1  1949-02         118
2  1949-03         132
3  1949-04         129
4  1949-05         121

# 指数平滑法

In [6]:
# alpha 平滑化係数
air["Smooth.5"] = air.ewm(alpha=0.5).mean().Passengers
air["Smooth.9"] = air.ewm(alpha=0.9).mean().Passengers

In [7]:
air.head(10)

      Date  Passengers    Smooth.5    Smooth.9
0  1949-01         112  112.000000  112.000000
1  1949-02         118  116.000000  117.454545
2  1949-03         132  125.142857  130.558559
3  1949-04         129  127.200000  129.155716
4  1949-05         121  124.000000  121.815498
5  1949-06         135  129.587302  133.681562
6  1949-07         148  138.866142  146.568157
7  1949-08         148  143.450980  147.856816
8  1949-09         136  139.718200  137.185682
9  1949-10         119  129.348974  120.818568