In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
air = pd.read_csv("./data/AirPassengers.csv",header=None)
air.columns = ["Date","Passengers"]
air.head()

      Date  Passengers
0  1949-01         112
1  1949-02         118
2  1949-03         132
3  1949-04         129
4  1949-05         121

# 指数平滑法

In [3]:
air["Smooth.5"] = air.ewm(alpha=0.5).mean().Passengers

In [4]:
air["Smooth.5"]

0      112.000000
1      116.000000
2      125.142857
3      127.200000
4      124.000000
          ...
139    582.096411
140    545.048205
141    503.024103
142    446.512051
143    439.256026
Name: Smooth.5, Length: 144, dtype: float64